body{
background-image: url("bg.PNG");
   background-repeat: no-repeat;
   background-size: 400%;
    color:white;
}
.slides img{
    height: 900px;
    width:500px;
border-radius: 1px;
float:right;
}
.content{
    display: inline-block;
    padding: 5px;
}
header{
    height:150px;
}
.content a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:;
}
.head{
    float:right;

}
.head button{
    border-radius: 5px;
    padding:5px 5px;
    background-color: black;
    font-family: 'Nico moji',cursive;

}
.head{
    padding-right: 10px;
}
.topic{
    display: inline-block;
    padding-left: 50px;
    font-family: 'Nico moji',cursive;

    
}

.two{
    float:left;
}
.one{
    float:right;
}
.con{
    text-align: center;
    padding-top: 10%;
}
.why{
    padding-left: 5%;
    padding-top: 5%;
}
.row1 img{
    float:right;
    height:400px;
}
.row2 img{
    
    float:left;
    height:400px;
}
.row2{
    padding-top: 400px;
}
.row3{
    padding-top: 400px;
    padding-left:50px;
}
.row3 img{
    float: right;
    height:300px;
    
}
.topic img{
    float:left;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  .waviy {
    position: relative;
    text-align: center;
    padding-top: 100px;
    
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: rgb(247, 0, 255);
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.3s )
  }
  .waviy --i:1{
      color: green;
  }
  .waviy1 {
    position: relative;
    text-align: center;
    padding-top: 200px;
    
  }
  .waviy1 span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay:0s;
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
