<!-- This example requires Tailwind CSS v2.0+ -->

<div class="relative bg-banner overflow-hidden">
  <app-navbar></app-navbar>
  <div class="w-full mx-auto">
    <div class="relative z-10">
      <section id="banner">
        <div class="flex justify-center md:flex-none my-20 px-4 sm:my-12 sm:px-6 md:my-16 lg:my-20 lg:px-8 xl:my-32">
          <div class=" mx-auto max-w-2xl sm:text-center">
            <div class="text-3xl text-center tracking-tight font-extrabold text-gray-900 sm:text-4xl md:text-5xl">
              <div class="font-nico-regular font-normal text-green">Enjoyable</div>
              <div class="font-nico-regular font-normal text-pale-green">Earnable</div>
              <div class="font-nico-regular font-normal text-dark-pink">NFT</div>
              <div class="font-nico-regular font-normal text-lavender">GameFi</div>
              <div class="font-nico-regular font-normal waves word-1 text-peach">
                <span>N</span>
                <span>e</span>
                <span>t</span>
                <span>w</span>
                <span>o</span>
                <span>r</span>
                <span>k</span>
              </div>
            </div>
          </div>
        </div>
        <div class="max-w-md mx-auto my-20">
          <div class="font-nico-regular text-white text-left text-3xl">
            Welcome to
          </div>
          <div class="font-nico-regular gradient-arcadio text-right text-7xl">
            Arcadio
          </div>
        </div>
        <div class="w-full space-y-24 mb-24">
          <p class="text-white font-assitant-regular text-base text-center px-9">The only Gamefi platform with real
            product deliveries and generate rental yield for leasing NFTs as utility.</p>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="second-section w-full mx-auto bg-dark-blue space-y-24">
  <div class="pt-24 lg:p-24">
    <h2 class="gradient-green font-nico-regular text-6xl text-center mb-16 md:mb-24 md:my-24">Why Arcadio Network?</h2>
    <div>
      <h2 class="font-pressstart-regular gradient-pink text-center text-5xl">NFT Games Should be fun</h2>
      <img src="assets/images/nft-fun.svg" width="290" height="290" class="float-right hidden md:block -mt-20" alt="">
    </div>
  </div>
  <div
    class="font-nico-regular text-3xl lg:text-5xl text-white text-center leading-snug p-8 lg:p-0 lg:py-20 bg-green-wave">
    ARCADiO is a GameFi, P2E, NFT platform with 100s of fun games to earn $ARDO without owning any complex in-game
    NFTs. NFT holders earn rental yield forever from leasing it to Arcadio network.
  </div>
</section>

<section class="third-section bg-3">
  <div class="container px-5 py-24 mx-auto">
    <div class="grid grid-cols-12 gap-4 lg:gap-8">
      <div class="col-span-12 md:col-span-4 ">
        <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
          <h2 class="text-white text-center font-nico-regular font-medium text-4xl mb-4">Play 2 Earn</h2>
          <img class="rounded-xl w-full object-cover object-center mb-6" src="assets/images/third-section/box-1.png"
            alt="content">
          <p class="leading-relaxed text-lg font-assitant-regular text-white">No need to hold any NFTs to play 100s of
            games.
            Pay $ARDO tokens as small fee to earn Prizes</p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
          <h2 class="text-white text-center font-nico-regular font-medium text-4xl mb-4">GameFi</h2>
          <img class="rounded-xl w-full object-cover object-center mb-6" src="assets/images/third-section/box-2.png"
            alt="content">
          <p class="leading-relaxed text-lg font-assitant-regular text-white">Earn Higher Yield for staking $ARDO
            Earn 50% of Fee as Rental yield for Leasing your NFT Arcade Machines</p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
          <h2 class="text-white text-center font-nico-regular font-medium text-4xl mb-4">Real Utility</h2>
          <img class="rounded-xl w-full object-cover object-center mb-6" src="assets/images/third-section/box-3.png"
            alt="content">
          <p class="leading-relaxed text-lg font-assitant-regular text-white">Get delivered unique Plushy Toys, latest
            smart phones by winning from our Claw Crane Machines.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mx-auto px-24 p-16">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-6">
        <h2 class="font-nico-regular text-5xl gradient-yellow mb-2 sm:text-3xl md:text-5xl">Benefits</h2>
        <p class="leading-relaxed text-lg font-assitant-regular text-white">Own Arcade Machines as NFTs. There are 100s
          of games in our Network. To get started, just connect the wallet and play. No token or NFT required for trail
          Play</p>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <img src="assets/images/third-section/gamer-image.svg" class="gamer-img float-right hidden lg:block"
          height="400" width="400" alt="">
      </div>
    </div>
  </div>
</section>

<section class="fourth-section bg-4 py-24">
  <div class="px-24">
    <h2 class="gradient-light-green font-nico-regular text-6xl text-center mb-24">Free the Plushy, make it yours</h2>
  </div>
  <div class="grid grid-cols-12 p-8 lg:p-0 gap-4">
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
        <img class="rounded-xl w-full" src="assets/images/fourth-section/box-1.png"
          class="object-cover rounded-xl h-box-img" alt="arcadio">
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
        <img class="rounded-xl w-full" src="assets/images/fourth-section/box-2.png"
          class="object-cover rounded-xl h-box-img" alt="arcadio">
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
        <img class="rounded-xl w-full" src="assets/images/fourth-section/box-3.png"
          class="object-cover rounded-xl h-box-img" alt="arcadio">
      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
      <div class="border-2 border-solid border-white bg-blur p-6 rounded-lg">
        <img class="rounded-xl w-full" src="assets/images/fourth-section/box-4.png"
          class="object-cover rounded-xl h-box-img" alt="arcadio">
      </div>
    </div>

    <div class="col-span-12">
      <p class="leading-relaxed text-lg font-assitant-regular text-center text-white py-12 px-24">Plenty of Claw Crane
        Machines are placed in our Arcadio Network Lounge. Every Plushy Toy is unique and play the game and earn the
        Plushy. You will be able to get delivered to your desired place. Gift real plushy toys to friends and families.
        By owning NFT Claw Crane Machines, you will get limited free play credits to play games. </p>
    </div>
  </div>
</section>

<section class="fifth-section">
  <img src="assets/images/roadmap.png" width="100%" alt="">
</section>


<section class="sixth-section bg-5 py-24">
  <div class="grid grid-cols-12 gap-4 items-center px-24 lg:pb-12">
    <div class="col-span-12 lg:col-span-6 lg:ml-auto">
      <h2 class="font-nico-regular text-5xl gradient-green-rose">
        <a id="ARDO">$ARDO</a>
      </h2>
      <h2 class="font-nico-regular text-5xl gradient-rose">Metrics</h2>
      <div class="pt-4">
        <p class="text-lg font-assitant-regular font-regular text-white">Max. Supply : <span
            class="font-bold">100,000,000 $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Network : <span class="font-bold"> TBA</span>
        </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Token Type : <span class="font-bold">EVM
            Compatible </span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Dex Tax : <span class="font-bold">
            5% on Sell, goes to LP </span> </p>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-6">
      <img src="assets/images/sixth-section/game-logo.svg" class="lg:float-right" alt="">
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 items-center px-24 pt-24 lg:pt-12">
    <div class="col-span-12 lg:col-span-6 order-last md:order-first">
      <img src="assets/images/sixth-section/arcadio-logo-orange.svg" class="lg:float-left" alt="">
    </div>
    <div class="col-span-12 lg:col-span-6 lg:mr-auto">
      <h2 class="font-nico-regular text-5xl gradient-green-rose">Arcadio NFT</h2>
      <h2 class="font-nico-regular text-5xl gradient-rose">Metrics</h2>
      <div class="pt-4">
        <p class="text-lg font-assitant-regular font-regular text-white"> Max. Number of NFT Arcade Machines : <span
            class="font-bold">6942 </span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Network : <span class="font-bold"> Polygon (We
            too hate ETH Fees!)</span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Token Type : <span class="font-bold"> ERC721
          </span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">To Be Minted : <span class="font-bold">Pre-Mint
            Date TBA, whitelist soon</span> </p>
        <p class="text-lg font-assitant-regular font-regular text-white">Mint Fee :<span class="font-bold"> TBA</span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="seventh-section bg-5 p-24">
  <div class="section-title text-center pb-12">
    <div class="gradient-pink font-nico-regular text-6xl my-4">$ARDO Distribution</div>
    <p class="text-lg font-assitant-regular font-regular text-white">Total Supply : <span class="font-bold">100,000,000
        $ARDO </span> </p>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-4 mx-auto space-y-8">
      <h4 class="text-lg font-assitant-regular font-bold text-white">Private & IDO</h4>
      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Strategic Round :<span class="font-bold">
            12,000,000 $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">10% at TGE, 3 months + 10 months vesting</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white">Private Round :<span class="font-bold">
            7,000,000 $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">10% at TGE, 3 months + 6 months vesting</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Public IDO :<span class="font-bold">
            15,000,000 $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">10% at TGE, 1 month + 4 months vesting</p>
      </div>

    </div>
    <div class="col-span-12 lg:col-span-4 mx-auto space-y-8">
      <h4 class="text-lg font-assitant-regular font-bold text-white">Treasury & Reward</h4>
      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Airdrop <span class="font-bold"> 1,500,000
            $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">20% at TGE, 10 months vesting</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white">Liquidity :<span class="font-bold"> 4,500,000
            $ARDO</span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">100% at TGE</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Game Rewards :<span
            class="font-bold">20,000,000 $ARDO</span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">100% at TGE</p>
      </div>
      <div>
        <p class="text-lg font-assitant-regular font-regular text-white">Staking :<span class="font-bold">10,000,000
            $ARDO</span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">100% at TGE</p>
      </div>
      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Dev Treasury :<span
            class="font-bold">7,500,000 $ARDO</span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">20% at TGE, 5 months vesting</p>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4 mx-auto space-y-8">
      <h4 class="text-lg font-assitant-regular font-bold text-white">Team & Advisory</h4>
      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Team :<span class="font-bold"> 12,500,000
            $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">1 Year Cliff + 1 Year vesting</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white">Advisors :<span class="font-bold"> 5,000,000
            $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">20% at TGE, 2 Years vesting</p>
      </div>

      <div>
        <p class="text-lg font-assitant-regular font-regular text-white"> Marketing :<span class="font-bold"> 5,000,000
            $ARDO </span> </p>
        <p class="text-lg font-assitant-regular font-bold text-white">20% at TGE, 9 months vesting</p>
      </div>
    </div>
    <div class="col-span-12">
      <p class="text-lg font-assitant-regular font-regular text-white float-right py-6">Any changes to Vesting and
        Distribution will be voted on DAO</p>
    </div>

  </div>
</section>

<section class="eighth-section">
  <div>
    <img src="assets/images/pie-ARDO.png" width="100%" alt="">
  </div>
</section>

<section class="nineth-section bg-8 p-24">
  <div class="section-title text-center">
    <div class="gradient-pink font-nico-regular text-6xl my-4">Team</div>
  </div>
  <div class="grid grid-cols-12 gap-4 py-20">
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-1.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">Blockdot</h4>
      <!--<p class="text-lg font-assitant-regular font-regular text-white text-center">CoFounder</p>-->
      <p class="text-lg font-assitant-regular font-regular text-white text-center">For the love of Arcades, plushies</p>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-2.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">0xsmart</h4>
      <p class="text-lg font-assitant-regular font-regular text-white text-center">Loves Smart Contracts</p>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-3.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">Nodeflic</h4>
      <p class="text-lg font-assitant-regular font-regular text-white text-center">Full Stack Developer</p>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-4.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">0xsegol</h4>
      <p class="text-lg font-assitant-regular font-regular text-white text-center">Full Stack Developer</p>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-5.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">RepeatedNonce</h4>
      <p class="text-lg font-assitant-regular font-regular text-white text-center">Full Stack Developer</p>
    </div>
    <div class="col-span-12 sm:col-span-6 lg:col-span-2">
      <img src="assets/images/team/team-6.png" class="mx-auto pb-6" alt="arcadio">
      <h4 class="text-lg font-assitant-regular font-bold text-white text-center">0xsmolgirl</h4>
      <p class="text-lg font-assitant-regular font-regular text-white text-center">Frontend Developer</p>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <div class="section-title text-center">
        <div class="gradient-pink font-nico-regular text-6xl pb-6">Who are We?</div>
        <p class="text-lg font-assitant-regular font-regular text-white">As a team of developers, we are very passionate
          about bringing the true joy of Play 2 Earn, NFT, GameFi platform. As a highly motivated team, we have
          succeeded in managing real arcade lounges in ASEAN countries. Our team consists of experts from London, Kuala
          Lumpur and Bengaluru. We aim to bring real experience to the virtual world and many arcade companies are in
          talks to make the ARDO token a real utility token that encompasses both real and virtual worlds. </p>
      </div>
    </div>
  </div>
</section>


<section class="bg-footer p-24">
  <div class="section-title text-center pb-16">
    <div class="gradient-pink font-nico-regular text-6xl my-4">Partners</div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-3 mx-auto">
      <img src="assets/images/partners/coingecko.png" width="200" height="200" class="rounded-full" alt="">
    </div>
    <div class="col-span-12 lg:col-span-3 mx-auto">
      <img src="assets/images/partners/coinmarketcap.png" width="200" height="200" class="rounded-full" alt="">
    </div>
    <div class="col-span-12 lg:col-span-3 mx-auto">
      <img src="assets/images/partners/pancake-swap.png" width="200" height="200" class="rounded-full" alt="">
    </div>
    <div class="col-span-12 lg:col-span-3 mx-auto">
      <img src="assets/images/partners/0by0_Logo.png" width="125" height="125" class="rounded-full" alt="">
    </div>
  </div>

  <div class="grid grid-cols-12 justify-center my-24 gap-4">
    <div class="col-span-12 md:col-span-2 mx-auto">
      <img src="assets/images/footer/gpad.svg" alt="">
    </div>
    <div class="col-span-12 lg:col-span-8">
      <h4 class="gradient-pink font-nico-regular text-center text-6xl my-4">
        Let’s Grow our Community,
        Join
        Discord
        for Updates
      </h4>
      <br>
    </div>
    <div class="col-span-12 lg:col-span-2 mx-auto">
      <img src="assets/images/footer/discord.svg" alt="">
    </div>
  </div>

  <div class="grid grid-cols-12 justify-center mt-24 gap-4">
    <div class="col-span-12">
      <p class="text-white text-center font-nico-regular text-2xl">
        All Rights Reserved © Aracadio Network 2022
      </p>
    </div>
  </div>
</section>