.bg-banner {
    background: #0d0c33 url(../../../assets/images/bg-banner.svg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.gradient-arcadio {
    background-image: linear-gradient(250deg, #fb6fc3, rgba(250, 214, 86, 0.9), rgba(123, 235, 243, 0.8));
    background-clip: text;
    color: transparent;
  }

  .gradient-green {
    background-image: linear-gradient(#d8fdeb, #38b478);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .gradient-pink {
    background-image: linear-gradient(#fcf5f5, #c11cc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-dark-pink {
    background-image: linear-gradient(#fad1d1, #da6da0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-yellow {
    background-image: linear-gradient(#f8f0f0, #f3ad21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-light-green {
    background-image: linear-gradient(#e7f5ea, #aec714);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-green-rose {
    background-image: linear-gradient(to bottom, #83f4be 18%, #f81cfc 187%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gradient-rose {
    /* background-image: linear-gradient(to bottom, #A97EE3 18%, #F224FA 187%); */
    background-image: linear-gradient(180deg, #A97EE3 17.88%, #f1a464 187.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

  .bg-blur {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(4px);
    opacity: .75;
    border: 1px solid rgba(255,255,255,0.2);
  }

  .bg-green-wave {
    background-image: url(../../../assets/images/green-wave.svg);
  }
  .bg-3 {
    background-image: url(../../../assets/images/bg-3.svg);
  }
  .bg-4 {
    background-image: url(../../../assets/images/bg-4.svg);
  }
  .bg-5 {
    background-image: url(../../../assets/images/bg-5.svg);
  }
  .bg-8 {
    background-image: url(../../../assets/images/bg-8.svg);
  }
  .bg-footer {
    background-repeat: no-repeat;
    background-color: #0d0c33;
    background-position: 0 100%;
    background-image: url(../../../assets/images/footer/footer-wave.svg);
  }
  .bg-gamer {
    background-image: url(../../../assets/images/third-section/gamer-image.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    background-position: 300px -91px;
  }

  .gamer-img {
    margin-right: -4rem;
            margin-top: -10rem;
  }

  .h-box-img {
    height: 300px !important;
    width: 100%;
  }
 .bg-ball-blue {
   background: url(../../../assets/images/third-section/ball-2.svg);
 }
 .bg-ball-pink {
   background: url(../../../assets/images/third-section/ball-1.svg);
 }

.neon-flicker {
  letter-spacing: 2px;
}
.flicker-v-v-v-slow{
  animation: flicker 12s linear infinite;
}

.flicker-v-v-slow{
  animation: flicker 8s linear infinite;
}
.flicker-v-slow{
  animation: flicker 5s linear infinite;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {

    opacity: .99;
        
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

.neon-glow {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px rgb(201, 231, 166),
    0 0 40px rgb(212, 240, 111),
    0 0 80px rgb(147, 160, 26)
}

.A-glow {
  text-shadow:3px 0 10px #bb467c
}
.R-glow {
  text-shadow:4px 0 10px #cf8655
}
.C-glow {
  text-shadow:3px 0 10px #f3ad21
}
.A2-glow {
  text-shadow:3px 0 10px #cfe924
}
.D-glow {
  text-shadow:3px 0 10px #53e49e
}
.I-glow {
  text-shadow:3px 0 10px #81c4eb
}
.O-glow {
  text-shadow:3px 0 10px #d8c3f3
}
