@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nico Moji', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
   color:white;
}

.gradient-bg-arcadioMain {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-arcadioNFT {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-arcadioLounge {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 15%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animated Spin Loader*/
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Heading1*/
h1 {
  color: rgb(119, 236, 10);
  font-size: 44px;
  margin-top: 40px;
  text-align: center;
  font-family: 'Nico Moji', cursive;
  }
  /*Sentence*/
  .sentence {
  color: rgb(195, 236, 12);
  font-size: 40px;
  text-align: left;
  }
  /*Wrapper*/
  .wrapper {
  /*background-color: #f5f5f5;*/
  font-family: "Raleway", sans-serif;
  margin: 100px auto;
  padding: 40px 40px;
  position: relative;
  width: 70%;
  }
  
  /*Vertical Sliding*/
  .slidingVertical {
  display: inline;
  text-indent: 8px;
  }
  .slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  }
  .slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  }
  .slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  }
  .slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
  }
  .slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  }
  
  /*topToBottom Animation*/
  @-moz-keyframes topToBottom {
  0% {
  opacity: 0;
  }
  5% {
  opacity: 0;
  -moz-transform: translateY(-50px);
  }
  10% {
  opacity: 1;
  -moz-transform: translateY(0px);
  }
  25% {
  opacity: 1;
  -moz-transform: translateY(0px);
  }
  30% {
  opacity: 0;
  -moz-transform: translateY(50px);
  }
  80% {
  opacity: 0;
  }
  100% {
  opacity: 0;
  }
  }
  @-webkit-keyframes topToBottom {
  0% {
  opacity: 0;
  }
  5% {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  }
  10% {
  opacity: 1;
  -webkit-transform: translateY(0px);
  }
  25% {
  opacity: 1;
  -webkit-transform: translateY(0px);
  }
  30% {
  opacity: 0;
  -webkit-transform: translateY(50px);
  }
  80% {
  opacity: 0;
  }
  100% {
  opacity: 0;
  }
  }
  @-ms-keyframes topToBottom {
  0% {
  opacity: 0;
  }
  5% {
  opacity: 0;
  -ms-transform: translateY(-50px);
  }
  10% {
  opacity: 1;
  -ms-transform: translateY(0px);
  }
  25% {
  opacity: 1;
  -ms-transform: translateY(0px);
  }
  30% {
  opacity: 0;
  -ms-transform: translateY(50px);
  }
  80% {
  opacity: 0;
  }
  100% {
  opacity: 0;
  }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
